--extra-index-url=https://download.pytorch.org/whl/cu129
torch<2.9.1
torchaudio

#TRITON*************************************
#https://github.com/woct0rdho/triton-windows/releases/download/empty/triton-3.3.0-py3-none-any.whl ; sys_platform == 'win32' #egg:3.3.0
triton-windows; sys_platform == 'win32' # tw
triton; sys_platform != 'win32' # linux and mac

transformers

psutil
loguru
pydantic

# web stuff
python-multipart
fastapi
uvicorn


huggingface_hub
hf_xet
faster-whisper

setuptools<81
einops #
tqdm #
inflect #
wetext #
addict
simplejson
argbind
safetensors


#gradio

# only for training
#datasets<4
#modelscope #??
#soundfile
#librosa
#sortedcontainers
#numpy #
#modelscope #
# soundfile
#cupy-cuda12x  #??


# pydub gets installed
# torch has a bug on Windows
# patch_torch_dll.ps1 patches the torch dlls on Windows